.contenedor {
    width: 1000px;
    height: 950px;
    background-color:  #fbe7ff;
    margin: 15px;
    margin-left: 200px;
    border: 3px black outset;   
}
h1{
    font-style: unset;
    color: darkred;
    float: inline-start;
}


.top-nav {
    width: 800px;
    height: 80px;
    background-color:rgb(181, 98, 168) ;
    border: 4px ;
    margin: 50px;
    text-align: center;

}
.side-nav{
    margin: 100px;

}

.sub-content{
    margin-top: -450px;
    margin-left: 459px;
    text-align: center;
}